{% extends "shop/base.html" %}

{% load static %}

{% block title %}
  {{ product.name }}
{% endblock %}
{% block content %}
  <div class="product-detail">
    <div class="col-sm-4"><img src="{{ product.image.url }}" class="img-responsive"></div>
    <div class="col-sm-8">
      <h1>{{ product.name }}</h1>
      <h2>{{ product.category }}</h2>
      <p class="price">
        {{ product.price }} грн.
      </p>
      {% if not product.available %}<p id='not_available'>Нет в наличии</p>{% endif %}
      <form action="{% url "cart:CartAdd" product.id %}" method="POST">
        {{ cart_product_form }}
        {% csrf_token %} 
        <input type="submit" value="Добавить в корзину">
      </form>
      <br>
      <span>
        {{ product.description | linebreaks}}
      </span>
    </div>
  </div>
{% endblock %}