@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=cyrillic'

body{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.top{
  padding: 20px 25px;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.top a{
  color: black;
  text-decoration: none
}

.top-bl{
  background: #0095ff;
  padding: 15px;
}
.top-bl a{
  color: white;
}
.top-bl .cart{
  float: right;
}

#sidebar form{
  padding: 30px 10px;
}
#sidebar form ul li{
  list-style-type: none;
  margin-left: -40px;
  font-style: italic;
}
#sidebar form ul li:hover{
  color: blue;
}
#submit{
  display: none;
}

.items{
  margin-top: 20px;
}
.items a{
  color: black;
}
.item{
  height: 400px;
  text-align: center;
}
.item:hover{
  border: 2px ridge blue;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.item .item_img{
  display: table-cell;
  vertical-align: middle;
  width: 20%;
  height: 320px;
}
.item .item_img img{
  margin-left: auto;
  margin-right: auto;
}
#not_available{
  color:red;
}

.product-detail{
  margin-top: 40px;
}
.price{
  font-weight: 600;
  font-size: 20px;
}
.product-detail h2{
  font-size: 18px;
}

form.add{
  margin-bottom: 10px;
}
form.add label{
  margin-right: 10px;
}
#id_quantity{
  padding: 5px 10px;
  border-radius: 3px;
}
form.add input[type="submit"]{
  background: #2a6496;
  border-radius: 3px;
  border: 0;
  padding: 5px 10px;
  color: white;
}
.table-cart{
  width: 100%;
  margin: 10px 0;
}
.cart-img{
  width: 10%;
}
th, td{
  padding: 5px;
}
thead{
  background: #2a6496;
  color: white;
}
.btn{
  background: #2a6496;
  color: white;
}
.btn-light{
  background: #808080;
}
.order-info h2{
  margin-bottom: 20px;
}
.order-form{
  margin-top: 20px;
  margin-bottom: 20px;
}
.order-form label{
  display: block;
}
.order-form input{
  width: 100%;
  padding: 5px 10px;
}
